<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>cat.pipo.bicing.servlet.MainServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

<!-- BARCELONA -->
	<servlet>
		<servlet-name>BarcelonaBinary</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.barcelona.servlet.BarcelonaBinaryServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcelonaBinary</servlet-name>
		<url-pattern>/bcnBin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BarcelonaGzip</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.barcelona.servlet.BarcelonaGzipServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcelonaGzip</servlet-name>
		<url-pattern>/bcnG</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BarcelonaJson</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.barcelona.servlet.BarcelonaJsonServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcelonaJson</servlet-name>
		<url-pattern>/bcnJ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BarcelonaXml</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.barcelona.servlet.BarcelonaXmlServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcelonaXml</servlet-name>
		<url-pattern>/bcnX</url-pattern>
	</servlet-mapping>

<!-- GIRONA -->
	<servlet>
		<servlet-name>GironaBinary</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.girona.servlet.GironaBinaryServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>GironaBinary</servlet-name>
		<url-pattern>/giBin</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>GironaGzip</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.girona.servlet.GironaGzipServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>GironaGzip</servlet-name>
		<url-pattern>/giG</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GironaJson</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.girona.servlet.GironaJsonServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>GironaJson</servlet-name>
		<url-pattern>/giJ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GironaXml</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.girona.servlet.GironaXmlServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>GironaXml</servlet-name>
		<url-pattern>/giX</url-pattern>
	</servlet-mapping>

<!-- GRANOLLERS -->
	<servlet>
		<servlet-name>GranollersBinary</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.granollers.servlet.GranollersBinaryServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>GranollersBinary</servlet-name>
		<url-pattern>/graBin</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>GranollersGzip</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.granollers.servlet.GranollersGzipServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>GranollersGzip</servlet-name>
		<url-pattern>/graG</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GranollersJson</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.granollers.servlet.GranollersJsonServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>GranollersJson</servlet-name>
		<url-pattern>/graJ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GranollersXml</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.granollers.servlet.GranollersXmlServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>GranollersXml</servlet-name>
		<url-pattern>/graX</url-pattern>
	</servlet-mapping>

<!-- MONTREAL -->
	<servlet>
		<servlet-name>MontrealBinary</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.canada.montreal.servlet.MontrealBinaryServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>MontrealBinary</servlet-name>
		<url-pattern>/moBin</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>MontrealGzip</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.canada.montreal.servlet.MontrealGzipServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>MontrealGzip</servlet-name>
		<url-pattern>/moG</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MontrealJson</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.canada.montreal.servlet.MontrealJsonServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>MontrealJson</servlet-name>
		<url-pattern>/moJ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MontrealXml</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.canada.montreal.servlet.MontrealXmlServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>MontrealXml</servlet-name>
		<url-pattern>/moX</url-pattern>
	</servlet-mapping>

<!-- SANTVI -->
	<servlet>
		<servlet-name>SantVicensBinary</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.santvicens.servlet.SantVicensBinaryServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>SantVicensBinary</servlet-name>
		<url-pattern>/svBin</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>SantVicensGzip</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.santvicens.servlet.SantVicensGzipServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>SantVicensGzip</servlet-name>
		<url-pattern>/svG</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SantVicensJson</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.santvicens.servlet.SantVicensJsonServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>SantVicensJson</servlet-name>
		<url-pattern>/svJ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SantVicensXml</servlet-name>
		<servlet-class>cat.pipo.bicing.cities.spain.santvicens.servlet.SantVicensXmlServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>SantVicensXml</servlet-name>
		<url-pattern>/svX</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>String</servlet-name>
		<servlet-class>cat.pipo.bicing.servlet.StringServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>String</servlet-name>
		<url-pattern>/string</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>Web</servlet-name>
		<servlet-class>cat.pipo.bicing.servlet.WebServlet</servlet-class>
		<load-on-startup/>
	</servlet>
	<servlet-mapping>
		<servlet-name>Web</servlet-name>
		<url-pattern>/web</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/jsp/web.jsp</welcome-file>
	</welcome-file-list>

    <session-config>
      <session-timeout>5</session-timeout> 
    </session-config>

</web-app>